* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

h1,
h2,
h3 {
  font-family: 'Abril Fatface', cursive;
  color: #522c1b;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.slider-control-bottomcenter {
  display: none;
}

.selection {
  display: inline-block;
  border: 3px solid #c4a077;
  padding: 15px 50px;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #522c1b;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.selection:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-weight: bolder;
}

.outerContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a5babb;
}

.innerContainer {
  width: 95vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: #fff;
}

@media (max-width: 810px) {
  .innerContainer {
    width: 100vw;
    height: 100vh;
  }
}
